div, form, h1, h2, h3, h4, h5, img, input, li, p, textarea, ul {
  margin: 0;
  padding: 0;
}

article, aside, figure, footer, header, main, nav, section {
  display: block;
}

table, td, tr {
  border: 0;
}

a {
  outline: 0;
  color: #333;
  text-decoration: none;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

img {
  border: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.nano-styles .feature-container {
  margin-top: 0;
}

.nano-styles .feature-container .atf-product__details {
  padding: 20px;
}

.nano-styles .feature-container .atf-product__details .prodImg {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .feature-container.for-desk {
    margin-bottom: 20px;
  }
}

/* EXIT POPUP STYLES */

.exitpop-content {
  position: fixed;
  height: 400px;
  width: 708px;
  margin: -200px 0 0 -354px;
  top: 50%;
  left: 50%;
  text-align: left;
  padding: 0;
  border: none;
  z-index: 2147483647;
}

.exitpopup-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
  display: none;
}

.exitpop-content img {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 100%;
  height: auto;
}

.exitpop-discountbar {
  background-color: red;
  border-bottom: 4px dashed #fff;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: none;
}

/* MODAL STYLES */

#app_common_modal,
#error_handler_overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  background: #333;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#app_common_modal .app_modal_body,
#error_handler_overlay .error_handler_body {
  max-width: 600px;
  font-family: Verdana, Geneva, sans-serif;
  box-sizing: border-box;
  outline: 0;
}

#app_common_modal_close,
#error_handler_overlay_close {
  position: absolute;
  right: -10px;
  top: -10px;
  color: #fff;
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

#app_common_modal .app_modal_body {
  margin: 100px auto;
  min-width: inherit;
  width: 95%;
  min-height: 400px;
  padding: 2.5%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#app_common_modal .app_modal_body iframe {
  min-height: 400px;
  width: 100%;
  border: 1px solid #d5d6ef;
}

@media only screen and (max-width: 768px) {
  #app_common_modal .app_modal_body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 600px;
    min-height: 400px;
    color: #333;
    padding: 10px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    overflow: inherit;
    -webkit-overflow-scrolling: touch;
  }
}

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 1050px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: 0 0;
  border: 0;
}

.modal__header .modal__close:before {
  content: '\2715';
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/* NB STYLES */

.nb-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #2f2915;
  font-family: Metropolis;
}

.nb-header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.nb-header__logo {
  margin: 0;
  max-height: 50px;
}

.nb-header__order-progress {
  max-height: 30px;
  margin: 0;
}

@media (max-width: 768px) {
  .nb-header__order-progress {
    display: none;
  }
}

.nb-main {
  flex-grow: 1;
}

.thank-you-main {
  color: white;
  background-color: #172531;
}

.nb-confirmation {
  padding: 40px 0;
}

.nb-confirmation__title {
  margin-bottom: 20px;
}

.nb-order-info {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid white;
}

.nb-order-info p {
  margin-bottom: 0;
}

.nb-footer {
  padding: 15px 0;
  text-align: center;
}

.nb-footer p {
  margin-bottom: 10px;
}

/* CHECKOUT */

.stepCount {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 28px;
}

@media (max-width: 768px) {
  .stepCount {
    font-size: 18px;
  }
}

.stepCount__orders-text {
  font-size: 14px;
}

@media (max-width: 768px) {
  .stepCount__orders-text {
    font-size: 12px;
  }
}

/* BASE */
a {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.checkout-buttons {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.checkout-buttons img {
  width: auto;
}

.checkout-buttons img,
.checkout-buttons input,
.checkout-buttons a {
  margin-top: 0;
}

.nano-price-total .checkout-gift-icon {
  top: 0;
}

.nano-price-total .packageOpt__discount-title {
  margin-top: 0;
}

.big-green-button {
  display: block;
  padding: 25px 15px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color: #57b55f;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  font-size: 22px;
  transition: all 0.2s;
}

.big-green-button:hover {
  text-decoration: none;
  color: white;
  opacity: 0.75;
}

.text-center {
  text-align: center;
}

.clear,
.clearfix:after {
  clear: both;
}
